{% extends "blog/base.html" %} {% block content %}

<section class="">
  <div class="container-lg">
    <div class="row">
      <div class="col-md-7 py-5 pe-2">
        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %} {% endif %} {% comment %} {% endcomment %}
        <!--  -->

        <h1 class="fs-3 pb-2 fw-bolder border-bottom border-1">{{tag}}</h1>

        {% for post in posts %}
        <div class="d-flex flex-row mt-5">
          <a
            class="text-decoration-none text-dark"
            href="{% url 'user-posts' post.author.username %}"
          >
            <img
              class="avatar me-3"
              src="{{ post.author.profile.image.url}}"
              alt="{{ post.author.username }}"
            />
          </a>

          <div class="align-self-center">
            <h6 class="d-inline me-1">
              <a
                class="text-decoration-none text-dark"
                href="{% url 'user-posts' post.author.username %}"
              >
                {{ post.author }}</a
              >
            </h6>
            <h6 class="text-muted d-inline me-1">
              {{ post.date_posted|date:"M d" }}
            </h6>
            <h6 class="text-muted d-inline bg-light py-1 px-2 rounded-pill">
              {{ post.category.name }}
            </h6>
          </div>
        </div>

        <h2 class="mt-2">
          <a
            class="text-dark fs-4 fw-bolder text-decoration-none"
            href="{% url 'post-detail' post.id %}"
          >
            {{ post.title }}
          </a>
        </h2>
        <p class="">
          <a
            class="text-dark text-decoration-none text-muted"
            href="{% url 'post-detail' post.id %}"
          >
            {{ post.teaser }}
          </a>
        </p>
        {% empty %}
        <h3>No Posts</h3>
        {% endfor %}
      </div>
      <div class="col-md-5 py-4 ps-md-5 d-none d-md-block">
        <div class="sticky-md-top">
          <!-- 1 -->
          <div class="mt-4"></div>

          <!-- 2 -->
          <div class="mt-4"></div>
          <!-- 3 -->
          <div class="mt-4"></div>
          <!-- 4 -->

          <div class="mt-4"></div>
          <!-- 5 -->

          <div class="mt-4"></div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

<section class="">
  <div class="container-lg">
    <div class="row">
      <div class="col-md-7 py-5 pe-2">
        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %} {% endif %} {% comment %} {% endcomment %}
      </div>
      <div class="col-md-5 py-4 ps-md-5 d-none d-md-block">
        <div class="sticky-md-top">
          <!-- 1 -->
          <div class="mt-4"></div>

          <!-- 2 -->
          <div class="mt-4"></div>
          <!-- 3 -->
          <div class="mt-4"></div>
          <!-- 4 -->

          <div class="mt-4"></div>
          <!-- 5 -->

          <div class="mt-4"></div>
        </div>
      </div>
    </div>
  </div>
</section>
